InfixToPostfixPracticeTest/obj/
InfixToPostfixPractice/obj/
InfixToPostfixPractice/bin/
packages/
InfixToPostfixPracticeTest/bin/Debug/nunit_random_seed.tmp
.vs/InfixToPostfixPractice/v14/.suo
.vs/InfixToPostfixPractice/v15/.suo
